@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.error{
  color: red;
  text-align: left;
  font-size: 12px;
}

.btn {
  @apply  hover:opacity-95 cursor-pointer active:scale-105 transition-all duration-150
}

.btn_desabled{
  @apply bg-gray-300 cursor-not-allowed text-black/30
}